# =========================
# Arquivos de Dados (CRÍTICO)
# =========================
# Ignorar a pasta de dados inteira (RAW, BRONZE, SILVER, GOLD)
# Nunca faça commit de grandes volumes de dados (Parquet, JSON, TXT, CSV)
data/
*.parquet
*.json
*.txt
*.csv
*.zip

# =========================
# Arquivos de Ambientes Locais / Docker
# =========================
docker-compose.yml
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class
*.so

# Ambientes Virtuais
venv/
.venv/
env/
.env

# =========================
# Terraform (IaC)
# =========================
# Ignorar diretórios locais do Terraform e estados sensíveis
terraform/
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# =========================
# Arquivos do Sistema Operacional
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs e IDEs
# =========================
*.log
.vscode/
.idea/
